*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
!/.idea/gradle.xml
!/.idea/misc.xml
/.idea/*.old
.DS_Store
/build
/tmp

/app/libs/modelmanager-release.aar
/app/libs/devicemanager-release.aar

/captures
.externalNativeBuild
